<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
    <header>
      <nav class="logo">
        <img
          class="img"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/LEGO_logo.svg/2048px-LEGO_logo.svg.png"
          alt=""
        />
      </nav>
      <nav class="search">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>

    <div
      id="carouselExampleSlidesOnly"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://www.lego.com/cdn/cs/set/assets/bltaf6d3d5fb080b37e/Holiday23-GiftHub-Landing-202309-Hero-Standard-Large.jpg?fit=crop&format=webply&quality=80&width=1600&height=500&dpr=1.5" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://www.lego.com/cdn/cs/set/assets/bltf7dff93d7cb8352b/76269-Page-202310-Hero-Standard-Large-Update.jpg?fit=crop&format=webply&quality=80&width=1600&height=500&dpr=1.5" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://www.lego.com/cdn/cs/set/assets/blt8ef5a2eae8003d3a/Holiday23-Offers-Landing-202309-Hero-Standard-Large.jpg?fit=crop&format=webply&quality=80&width=1600&height=500&dpr=1.5" class="d-block w-100" alt="..." />
        </div>
      </div>
    </div>

    <main>
      {{{body}}}
    </main>

    <footer>
      <p>&copy; 2023 Your Website. All rights reserved.</p>
    </footer>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
</html>