<form action="/category/edit/{{ category._id }}" method="post">
   <h1>Edit category</h1>
   Category name: <input type="text" name="name" id="" value="{{ category.name }}" required>
   <br><br>
   Category country: <input type="text" name="country" id="" value="{{ category.country }}" required>
   <br><br>
   <input type="submit" value="Edit">
</form>